In [1]:
#!/usr/bin/env python
# coding: utf-8

# In[1]:


# oracle 연결
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine,types
## os 라이브러리 임포트 (파일 내 모든 csv파일 보내기 위해)
from glob import glob

## DB정보
id = 'KOPO'
pw = 'kopo'
ip = '192.168.110.112'
port = '1521'
dbName = 'orcl'

## 엔진생성
engine_oracle = create_engine('oracle+cx_oracle://{}:{}@{}:{}/{}'.format(id,pw,ip,port,dbName))


# In[2]:


## csv 데이터 가져오기
outPutCsv = glob("../dataset/*.csv")


# In[4]:


## 데이터와 테이블네임
csv_list = []
csv_name = []


# In[5]:


##csv_list 에 데이터를 , csv_name에 테이블네임 넣기
for i in range(0, len(outPutCsv)):
    try :
        csv_list.append(pd.read_csv(outPutCsv[i],encoding ="ms949"))
        csv_name.append(outPutCsv[i].replace("../dataset\\","").replace('.csv',""))
    except Exception as e:
        print(e)


# In[11]:


## 보내기
for j in range(0,len(csv_list)):
    ##테이블 이름 lower 후 지정된 오라클 계정으로 data프레임 전송
    ## 로그
    print(j)
    try:
        tableName = csv_name[j]
        tableName = tableName.lower()
        df = csv_list[j]
        objectColumns = list(df.columns[df.dtypes == 'object'])
        typeDict={}
        maxLen = 100
        for i in range(0, len(objectColumns)):
            typeDict[ objectColumns[i] ] = types.VARCHAR(100)
        df.to_sql(name="{}".format(tableName), if_exists="replace", con=engine_oracle,dtype=typeDict, index=False)
    except Exception as e:
        print(e)

'cp949' codec can't decode byte 0xeb in position 135: illegal multibyte sequence
'cp949' codec can't decode byte 0xec in position 9: illegal multibyte sequence
'cp949' codec can't decode byte 0xed in position 1: illegal multibyte sequence