In [ ]:
##oracle
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine,types

id = 'kopo'
pw = 'kopo'
ip = '192.168.110.112'
port = '1521'
dbName = 'orcl'


engine_oracle = create_engine('oracle+cx_oracle://{}:{}@{}:{}/{}'.format(id,pw,ip,port,dbName))

paramData = pd.read_sql_query('SELECT * FROM KOPO_PARAM_YOOINYOUNG2', engine_oracle) 

paramData

In [ ]:
##postgre

In [ ]:
import psycopg2 
import pandas as pd
from sqlalchemy import create_engine 

id = 'kopo'
pw = 'kopo'
ip = '192.168.110.112'
port = '5432'
dbName = 'postgres'

# 엔진 생성 
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(id,pw,ip,port,dbName))

In [ ]:
##mariadb

In [ ]:
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 

id = 'kopo'
pw = 'kopo'
ip = '192.168.110.112'
port = '5432'
dbName = 'kopo'
 
# 엔진 생성 
engine_mariadb = create_engine('mysql+pymysql://{}:{}@{}:{}/{}'.format(id,pw,ip,port,dbName))

# DB 테이블을 읽어 Data Frame 변수에 저장하기
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine_mariadb)