In [13]:
 # oracle 연결
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine,types

id = 'kopo'
pw = 'kopo'
ip = '192.168.110.112'
port = '1521'
dbName = 'orcl'


engine_oracle = create_engine('oracle+cx_oracle://{}:{}@{}:{}/{}'.format(id,pw,ip,port,dbName))

paramData = pd.read_sql_query('SELECT * FROM KOPO_MIDDLETEST_YOOINYOUNG', engine_oracle) 

paramData

destLink = paramData.loc[paramData.param_name=="destLink","param_value"].values[0]
destTable = paramData.loc[paramData.param_name=="destTable","param_value"].values[0]

In [14]:
destLink

'oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl'

In [15]:
destTable

'kopo_test_yoo'

In [10]:
## 마리아DB, 오라클DB 만들고 마리아DB에서 정보 가지고 오기
engine_srcdb = create_engine(srcLink)
engine_destdb = create_engine(destLink)
srcData = pd.read_sql_query('SELECT * FROM {}'.format(srcTable), engine_srcdb) 
srcData

,bankid,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pep
0,ID12101,48.0,None,INNER_CITY,17546.00,None,1.0,None,NO,NO,NO,YES
1,ID12102,40.0,MALE,TOWN,30085.10,YES,3.0,None,NO,YES,YES,NO
2,ID12103,51.0,FEMALE,INNER_CITY,NaN,None,0.0,YES,YES,YES,None,NO
3,ID12104,23.0,None,TOWN,20375.40,YES,3.0,NO,NO,YES,NO,NO
4,ID12105,57.0,FEMALE,RURAL,NaN,None,0.0,NO,YES,NO,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...
595,ID12696,61.0,FEMALE,INNER_CITY,47025.00,None,2.0,YES,None,None,YES,NO
596,ID12697,30.0,FEMALE,INNER_CITY,9672.25,YES,0.0,YES,YES,YES,None,NO
597,ID12698,NaN,FEMALE,TOWN,15976.30,YES,0.0,YES,None,NO,NO,YES
598,ID12699,29.0,MALE,INNER_CITY,14711.80,YES,0.0,None,YES,NO,YES,NO
599,ID12700,NaN,None,None,26671.60,NO,0.0,YES,NO,YES,YES,YES

In [15]:
## groupby
groupKey = ["age"]

groupbySrcData = srcData.groupby(groupKey)[["income"]].std()

groupbySrcData = groupbySrcData.reset_index()

groupbySrcData

     age        income
0   18.0   3212.107795
1   19.0   3725.021990
2   20.0   5098.986218
3   21.0   4171.098233
4   22.0   5382.406870
5   23.0   4686.054752
6   24.0   5515.529717
7   25.0   5005.264383
8   26.0   5037.365615
9   27.0   3527.746902
10  28.0   4525.773842
11  29.0   1865.544789
12  30.0   5964.368810
13  31.0   2340.720752
14  32.0   5018.182980
15  33.0   7533.984047
16  34.0   6743.016955
17  35.0   5464.780640
18  36.0   8627.213005
19  37.0   5739.777929
20  38.0   6883.050744
21  39.0   6808.402115
22  40.0   7260.158232
23  41.0   5838.085551
24  42.0   5173.479815
25  43.0   8983.608308
26  44.0  11622.957612
27  45.0   9332.319157
28  46.0   8195.665215
29  47.0  10238.234295
30  48.0   9020.044225
31  49.0   9026.295341
32  50.0  14151.317517
33  51.0  10432.205825
34  52.0  10498.972678
35  53.0   8106.341746
36  54.0  10975.553836
37  55.0   6659.460955
38  56.0  10792.608258
39  57.0  15892.861303
40  58.0  10408.616824
41  59.0   9857.964624
42  60.0  12233.179744
43  61.0  12118.809126
44  62.0  13774.923538
45  63.0   8713.259381
46  64.0  11234.251961
47  65.0  12427.211387
48  66.0   8919.112185
49  67.0  12823.169499

In [12]:
##가져온 데이터 오라클 DB에 테이블 이름 만들어서 전송
tableName = destTable
tableName = tableName.lower()
#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배 
objectColumns = list(srcData.columns[srcData.dtypes == 'object'])
typeDict={}
maxLen = 100

for i in range(0, len(objectColumns)):
    # sawonData[i].str.len().max() 최대치 사용할 경우
    typeDict[ objectColumns[i] ] = types.VARCHAR(100)
#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배 

srcData.to_sql(name=tableName, if_exists="replace", con=engine_destdb,dtype=typeDict, index=False)

600