In [1]:
strValue = "Hello World"
print(strValue)

Hello World

In [2]:
strValue = "Mary's cosmetics"
print(strValue)

Mary's cosmetics

In [3]:
strValue = '신씨가 소리질렀다. "도둑이야".'
print(strValue)

신씨가 소리질렀다. "도둑이야".

In [4]:
print("c:\windows")

c:\windows

In [5]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [6]:
print("오늘은", "일요일")

오늘은 일요일

In [10]:
print("naver", "kakao", "samsung", sep=";")

naver;kakao;samsung

In [11]:
print("first", end = "");print("second")

firstsecond

In [1]:
시가총액 = 29800000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

29800000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [3]:
s = "hello"
t = "python"
print(s+"!",t)

hello! python

In [5]:
a = "132"
type(a)

str

In [8]:
num_str = "720"
num_Int = int(num_str)
print(num_Int, type(num_Int))

720 <class 'int'>

In [9]:
num = 100
numStr = str(num)
print(numStr, type(numStr))

100 <class 'str'>

In [11]:
floatNum = float("15.79")
print(floatNum, type(floatNum))

15.79 <class 'float'>

In [13]:
year = "2020"
yearInt = int(year)
print("1년전",yearInt-1)
print("2년전",yearInt-2)
print("3년전",yearInt-3)

1년전 2019
2년전 2018
3년전 2017

In [15]:
monthPrice = 48584
period = 36
airconPrice = monthPrice * period
print(airconPrice)

1749024

In [17]:
letters = 'python'
lettersList = list(letters)
print(lettersList[0],lettersList[2])

p t

In [20]:
license_plate = "24가 2210"
license_plate[-4:]

'2210'

In [27]:
string = "홀짝홀짝홀짝"
holNum = string.count("홀")
threeHol = holNum*string[0]
print(string[::2])
print(threeHol)
      
## print(string[::2]

홀홀홀
홀홀홀

In [36]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [41]:
phone_number = "010-1111-2222"
phone_number2 = phone_number.replace("-"," ")
print(phone_number2)

010 1111 2222

In [42]:
print("-" * 80)

--------------------------------------------------------------------------------

In [45]:
t1 = "python"
t2 = "java"
t3 = t1+" "+t2 + " "
print(t3 * 4)

python java python java python java python java

In [46]:
name1= "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
## print 포맷팅에서 %s 는 문자열 데이터, %d는 정수형 데이터 값 출력)
print("이름 : %s 나이 : %d" % (name1,age1))
print("이름 : %s 나이 : %d" % (name2,age2))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [47]:
name1= "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름 : {} 나이 : {}".format(name1, age1))
print("이름 : {} 나이 : {}".format(name2, age2))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [49]:
상장주식수 = "5,969,782,550"
strValue = 상장주식수.replace(",","")
intValue = int(strValue)
print(intValue, type(intValue))

5969782550 <class 'int'>

In [51]:
ticker = "btc_krw"
upperTicker = ticker.upper()
print(upperTicker)

BTC_KRW

In [53]:
ticker = "BTC_KRW"
lowerTicker = ticker.lower()
print(lowerTicker)

btc_krw

In [57]:
stringValue = "hello"
string2 = stringValue.capitalize()
print(string2)

Hello

In [60]:
file_name = "보고서.xlsx"
checkname = file_name.endswith("xlsx")
print(checkname)

True

In [62]:
file_name = "보고서.xlsx"
checkname = file_name.endswith(("xlsx","xls"))
print(checkname)

True

In [65]:
a = "hello world"
splitWord = a.split()
print(splitWord)

['hello', 'world']

In [67]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [71]:
date = "2020-05-01"
splitDate=date.split("-")
print(splitDate[0])
print(splitDate[1])
print(splitDate[2])

2020
05
01

In [73]:
movie_rank = ["닥터 스트레인지","스플릿","럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']