In [1]:
import pandas as pd

import bs4, requests

targetUrl = "https://finance.naver.com/"

try :
    resp = requests.get(targetUrl)
except Exception as e:
    print(e)

webPageSrc = resp.text

### 태그정보 수집하기

htmlObj = bs4.BeautifulSoup(webPageSrc, "html.parser")

div = htmlObj.find(name = "div", attrs ={"class" : "aside_area aside_popular"})

table = div.find(name = "table", attrs ={"class" : "tbl_home"})

tbody = table.find(name = "tbody")
tr = tbody.findAll(name = "tr")

In [2]:
print(len(tr))

rank = tr[0].find(name = "em").text
print(rank)

name = tr[0].find(name = "a").text
print(name)

price = tr[0].find(name = "td").text
print(price)

upDown = tr[0].attrs["class"]
print(upDown)

plusMinus = tr[0].find(name = "span").text
print(plusMinus)

5
1.
POSCO홀..
391,500
['up']
 23,500

In [3]:
rowList = []

for i in range(0,len(tr)):
    rank = tr[i].find(name = "em").text
    name = tr[i].find(name = "a").text
    price = tr[i].find(name = "td").text
    upDown = tr[i].attrs["class"]
    plusMinus = tr[i].find(name = "span").text
    rowList.append( [rank,name,price,upDown,plusMinus] )

In [4]:
financeDf = pd.DataFrame(rowList)
financeDf.columns = ["순위", "이름","가격","등락","증감"]   
financeDf

   순위        이름       가격      등락        증감
0  1.  POSCO홀..  391,500    [up]   23,500
1  2.       자이글   31,250    [up]    7,200
2  3.    하이드로리튬   49,850    [up]    9,750
3  4.     코스모화학   64,800    [up]   14,950
4  5.      삼성전자   63,100  [down]      900