In [1]:
import pandas as pd

In [3]:
row1List = ["김효관","1234","haiteam"]
row2List = ["김어진","2345","eojin"]

In [ ]:
testDF = pd.DataFrame([row1List, row2List])
testDF.columns = ["이%%름", "학번$$", "이메일##@"]

In [6]:
testDF ## 데이터 전처리 -일반적으로 컬럼의 이름은 앞에 숫자 x, 득수문자 x

  이%%름  학번$$   이메일##@
0  김효관  1234  haiteam
1  김어진  2345    eojin

In [9]:
columnList = list(testDF.columns)

In [10]:
columnList

['이%%름', '학번$$', '이메일##@']

In [ ]:
### 문제 : 여기에서 컬럼이름을 전처리 한다

In [13]:
## 이건 하드코딩
## -> 로직으로 작성하세요
# newColumn = ["이름", "학번", "이메일"]
# testDF.columns = newColumn

len(columnList)

for i in range (0,len(columnList)) :

    columnList [i] = columnList[i].replace("%%","")

    columnList [i] = columnList[i].replace("$$","")
    columnList [i] = columnList[i].replace("##@","")
    ####  .replace().replace() 이렇게 여러개 써도 됨

print(columnList)

In [34]:
## 다른 풀이

import pandas as pd
row1List = ["김효관","1234","haiteam"]
row2List = ["김어진","2345","eojin"]
testDF = pd.DataFrame([row1List, row2List])
testDF.columns = ["이%%름", "학번$$", "이메일##@"]
columnList = list(testDF.columns)
columnList

['이%%름', '학번$$', '이메일##@']

In [33]:
## 로직 작성 시작###############
len(columnList)

for i in range(0, len(columnList)) :
    



## 로직 작성 마무리#############

# 디버그

In [35]:
# 1. 헤더는 주석처리 한다.
# 2. 로직은 shift + tab으로 땡긴다.
# 3. i값을 위에 선언 후 돌려본다 하나씩
# 4. 그리고 위에 올려서 돌려본다.
# for i in range(o,len(columnList)) :
    # 각 리스트의 요소값에서 특수문자가 나오면 빈 공백으로 바꾼다.

In [5]:
preFix = "대출상품_"


targetItem = ["EN001","EN002","EN003"]

for i in range(0,len(targetItem)) :
    print(targetItem[i])
    targetItem[i] = preFix + targetItem[i]

EN001
EN002
EN003

In [12]:
##문제
# 1. 특정 폴더에 있는 파일을 불러와야한다.
# 2. 파일들이 file01.csv, file02.csv, file03.csv ->전부 merge해야한다.
# specificFolder

In [ ]:
# dataset/indoData
# file 만들기
# product, qty
# st0001, 1000 /sk
# st0002, 2000 /sk

In [14]:
import pandas as pd

In [15]:
import os

In [16]:
fileList = os.listdir("../dataset/indoData/")

In [21]:
indata1 = pd.read_csv("../dataset/indoData/file01.txt")
indata2 = pd.read_csv("../dataset/indoData/file02.txt")
indata3 = pd.read_csv("../dataset/indoData/file03.txt")

In [22]:
mergedList = []

In [23]:
mergedList.append(indata1)
mergedList.append(indata2)
mergedList.append(indata3)

In [24]:
### step1 : 파일은 어떤 확장자로 저장되는지 확인 [txt]
### step2 : 파일은 깨진 파일도 있는가? [x]
### step3 : 특정폴더를 기준폴더로 잡는다. [../dataset/indoDAta]
### step4 : 특정폴더 내 파일을 모두 검색한다. 0> a.txt, b.txt, c.txt......
### step5 : 기준폴더 + 파일명을 붙여서 데이터를 불러온다. ../dataset/indoData a.txt. 조

In [25]:
### step3
stdFolder = "../dataset/indoData/"

In [29]:
### step 4
import os

In [30]:
fileList = os.listdir(stdFolder)

['.ipynb_checkpoints', 'file01.txt', 'file02.txt', 'file03.txt']

In [31]:
### step 5

In [33]:
emptyList = []

In [ ]:
for i in range(0, len(fileList)):
    try:
            eachData = pd.read_csv(stdFolder + fileList[i]
            emptyList.append(eachDAta)
    except Exception as e :
        pass
        ~~~

In [ ]:
###