In [2]:
### 1번 함수 만들기

In [4]:
## 두 변수를 입력받아서 두 수의 차를 및 제곱

In [16]:
def diffPowerFunc(inFirstValue,inSecondValue):
    #디버깅용
    inFirstValue = 10
    inSecondValue = 5

    result = (inFirstValue-inSecondValue)**2 

    return result

In [17]:
diffPowerFunc(5,3)

4

In [19]:
def diffPowerFunc2(inFirstValue,inSecondValue):

    # inFirstValue = 10
    # inSecondValue = 5

    result = abs(inFirstValue-inSecondValue)**2 

    return result

In [20]:
diffPowerFunc2(5,7)

4

In [36]:
recallProduct = "MODEL02"

In [37]:
productList = ["MODEL01", "MODEL02", "MODEL03"]

In [38]:
for i in range(0, len(productList)):
    if productList[i] == recallProduct:
        print(productList[i])
        break

MODEL02

In [40]:
productList = ["MODEL01", "MODEL02", "MODEL03"]

In [41]:
recallProduct = "MODEL02"

In [46]:
for i in range(0, len(productList)):
    if productList[i] == recallProduct:
        continue
    print(productList[i])

MODEL01
MODEL03

In [44]:
productList = ["MODEL01", "MODEL02", "MODEL03"]
recallProduct = "MODEL02"

In [45]:
for i in range(0, len(productList)):
    if productList[i] == recallProduct:
        pass
    print(productList[i])

MODEL01
MODEL02
MODEL03

In [50]:
import pandas as pd

In [51]:
dataSum = []

In [54]:
for i in range(0, 3):
    loadFileName = "../dataset/kopo_product_volume{}.csv".format(i)
    print(loadFileName)
    try:
        dataSum.append( pd.read_csv(loadFileName))
    except Exception as e:
        print(e) ##오류코드를 디비에 저장 (타임태그)

../dataset/kopo_product_volume0.csv
../dataset/kopo_product_volume1.csv
[Errno 2] No such file or directory: '../dataset/kopo_product_volume1.csv'
../dataset/kopo_product_volume2.csv

In [5]:
import pandas as pd

indata = pd.read_csv("../dataset/kopo_customerdata.csv")

indata.CUSTOMERCODE = indata.CUSTOMERCODE.astype(float) ## int를 float으로

indata["CUSTOMERCODE"] = indata["CUSTOMERCODE"].astype(float) ## 같은거

In [61]:
indata

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989.0,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338.0,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715.0,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305.0,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802.0,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,465757.0,State1,1,Male,0,1,0,0,40600,0,40600,0,0,0,1,0
299996,1890264.0,State1,1,Male,0,1,0,1,48000,48000,0,0,0,0,1,0
299997,1857537.0,State1,1,Female,0,2,0,0,32300,0,0,32300,0,0,1,0
299998,2209324.0,State1,1,Male,0,1,0,1,48500,0,48500,0,0,0,1,0
299999,1875146.0,State1,1,Male,0,1,0,1,16500,0,0,16500,0,0,1,0

In [6]:
columnList = list( indata.columns)

In [7]:
len(columnList)

16

In [1]:
import pandas as pd

indata = pd.read_csv("../dataset/kopo_customerdata.csv")

In [83]:
for i in range(0, len(columnList)):
    print(columnList[i])
    # 타입변경 (기존타입 -> float)
    try:
        indata[columnList[i]] = indata[columnList[i]].astype(float)
    # 타입을 못바꾸는 경우 오류메세지를 띄운다.
    except Exception as e:
        print(e)

CUSTOMERCODE
STATENAME
could not convert string to float: 'State2'
ST
GENDER
could not convert string to float: 'Male'
DOB
GENDER1
EMAIL
FEST_CNT
TOTAL_AMOUNT
AC_AMOUNT
AV_AMOUNT
HA_AMOUNT
EMI_CE_AMOUNT
IS_HIGHEND
CNT_VIST
GAP_VISIT

In [85]:
indata.dtypes

CUSTOMERCODE     float64
STATENAME         object
ST               float64
GENDER            object
DOB              float64
GENDER1          float64
EMAIL            float64
FEST_CNT         float64
TOTAL_AMOUNT     float64
AC_AMOUNT        float64
AV_AMOUNT        float64
HA_AMOUNT        float64
EMI_CE_AMOUNT    float64
IS_HIGHEND       float64
CNT_VIST         float64
GAP_VISIT        float64
dtype: object

In [87]:
type(indata.loc[0,"STATENAME"])

str

In [8]:
for i in range(0, len(columnList)):
    targetColumn = columnList[i]
    print(columnList[i])
    if(type(indata.loc[0,columnList[i]]) == str):
        print("{}컬럼은 문자열이기 때문에 continue탐".format(targetColumn))
        continue
    indata[targetColumn] = indata[targetColumn].astype(float)
##정확하게 오류가 어떻게 나는지 알면 컨티뉴를 쓸 수 있지만, 모르는 경우가 대부분이기 때문에
## try except씀

CUSTOMERCODE
STATENAME
STATENAME컬럼은 문자열이기 때문에 continue탐
ST
GENDER
GENDER컬럼은 문자열이기 때문에 continue탐
DOB
GENDER1
EMAIL
FEST_CNT
TOTAL_AMOUNT
AC_AMOUNT
AV_AMOUNT
HA_AMOUNT
EMI_CE_AMOUNT
IS_HIGHEND
CNT_VIST
GAP_VISIT