In [13]:
import pandas as pd

customerData = pd.read_csv("../dataset/customerdata.csv")

In [15]:
customerData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CUSTID       150 non-null    object
 1   AVGPRICE     150 non-null    float64
 2   EMI          150 non-null    int64
 3   DEVICECOUNT  150 non-null    int64
 4   PRODUCTAGE   150 non-null    float64
 5   CUSTTYPE     150 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 7.2+ KB

In [34]:
customerData.loc[[0,1,2,3,4]]

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog

In [35]:
customerData.loc[0:10]

    CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0   A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1   A14219  3642.441950    2            4    2.682023      Sleeping-dog
2   A15312  3653.884565    2            5    3.208202      Sleeping-dog
3   A16605  3713.211107    2            6    0.900000        Early-bird
4   B10634  3391.074215    2            4    2.453656      Sleeping-dog
5   B16849  3755.263391    2            4    2.786665      Sleeping-dog
6   B18816  3213.911446    2            6    0.900000        Early-bird
7   C10639  3516.500000    2            5    2.564830  Big-Screen-lover
8   C12717  3732.900000    2            5    2.069995  Big-Screen-lover
9   C15050  4020.173425    2            4    3.013440      Sleeping-dog
10  C18306  4005.005142    2            4    3.113618      Sleeping-dog

In [18]:
tableDefine = pd.DataFrame(customerData.dtypes)

In [ ]:
tableDefine["비고"] = "" ##비고칸 만들 수 있다.

In [19]:
tableDefine.to_csv("../dataset/tabledefine.csv")

In [28]:
refinedData = \
    customerData.loc[ customerData.EMI > 2  ]
## customerData.loc[ customerData["EMI"] > 2  ]
## 문자열 for문 돌릴 때 용이함
## .은 존재하는 컬럼에서만 가능
## []로 하면 존재하지 않는 컬럼도 가능

In [29]:
refinedData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
27   F17131  3179.708359    3            6    1.100000        Early-bird
33   G16437  3787.328898    3            6    1.000000        Early-bird
36   G18402  3402.199381    3            6    1.000000        Early-bird
40   H16326  3988.935304    3            6    0.900000        Early-bird
45   I12899  3018.895637    3            6    0.900000        Early-bird
51   J10809  3676.135627    3            6    0.800000        Early-bird
52   J15083  2811.265932    3            6    0.900000        Early-bird
53   J16445  3041.848186    3            6    0.800000        Early-bird
60   L13892  3263.515145    3            6    1.100000        Early-bird
67   N13273  3839.694732    3            6    1.100000        Early-bird
95   R16364  3592.353540    3            6    0.900000        Early-bird
107  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
126  V18566  3527.701867    3            6    0.900000        Early-bird
130  W13404  4296.873743    3            6    1.100000        Early-bird
135  X13390  2947.543982    3            6    1.100000        Early-bird
142  Z11525  3259.018704    3            6    0.900000        Early-bird
146  Z13534  3662.437527    3            6    0.900000        Early-bird

In [30]:
refinedData.loc[customerData.EMI <=1]

Empty DataFrame
Columns: [CUSTID, AVGPRICE, EMI, DEVICECOUNT, PRODUCTAGE, CUSTTYPE]
Index: []

In [36]:
emiCondition = 3
deviceCondition = 5

In [41]:
##loc 해도 customerData 안바뀜 고로 꼭 다른 변수명으로 저장
csData = customerData.loc[ (customerData.EMI >= emiCondition) &
                           (customerData.DEVICECOUNT > deviceCondition) ]
## 비교 대상은 같은 타입이여야 한다.

In [40]:
csData.loc[csData.DEVICECOUNT <= 5]

Empty DataFrame
Columns: [CUSTID, AVGPRICE, EMI, DEVICECOUNT, PRODUCTAGE, CUSTTYPE]
Index: []

In [42]:
customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int64
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [46]:
customerData["EMI_STR"] = customerData.EMI.astype(str)
# customerData.EMI = customerData.EMI.astype(str)

In [50]:
customerData["PRODUCTAGE_int"] = customerData.PRODUCTAGE.astype(int)

In [51]:
customerData.dtypes

CUSTID             object
AVGPRICE          float64
EMI                 int64
DEVICECOUNT         int64
PRODUCTAGE        float64
CUSTTYPE           object
EMI_STR            object
PRODUCTAGE_int      int32
dtype: object

In [52]:
customerData2 = pd.read_csv("../dataset/customerdata.csv")

csColumns = list( customerData2.columns)

In [55]:
for i in range(0, len(csColumns)):
    try:
        customerData2[csColumns[i]] = customerData2[csColumns[i]].astype(str)
    except Exception as e:
        print(e)

In [57]:
customerData2.dtypes

CUSTID         object
AVGPRICE       object
EMI            object
DEVICECOUNT    object
PRODUCTAGE     object
CUSTTYPE       object
dtype: object

In [58]:
customerData = pd.read_csv("../dataset/customerdata.csv")

In [60]:
emiCondition=[2,3]

In [64]:
csData = customerData.loc[customerData.EMI.isin(emiCondition)]
csData2 = customerData.loc[~customerData.EMI.isin(emiCondition)]

In [63]:
csData.shape

(139, 6)

In [65]:
csData2.shape

(11, 6)

In [66]:
customerData = pd.read_csv("../dataset/customerdata.csv")

In [69]:
customerData.loc[0:2]
#customerData.loc[:] => 전체조회

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog

# 리스트로 데이터프레임 만들기

In [11]:
import pandas as pd

stNO = [1,2,3]
stl = ["a","b"]
stName = ["iyyoo","iy","y"]

testDf = pd.DataFrame(zip(stl,stNO,stName))
testDf

   0  1      2
0  a  1  iyyoo
1  b  2     iy

In [16]:
row1 = [1,"iyyoo","!"]
row2 = [2,"iy"]
row3 = [3,"y","?"]

testDf2 = pd.DataFrame([row1,row2,row3],columns=("번호","이름","주소"))
testDf2

   번호     이름    주소
0   1  iyyoo     !
1   2     iy  None
2   3      y     ?